.tareas-listas-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* margin-top: 2px; */
}

.tareas-lista-contenedor-ul {
  width: 600px;
  margin: 0 auto;
  padding: 0 0 0 0;
  background-color: blueviolet;
}

