.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  grid-auto-rows: minmax(200px, auto);
}

@media (max-width: 560px) {
  .moviesGrid {
    grid-template-columns: 100%;
    padding-left: 0;
  }
}