.detailsContainer{
  display: flex;
  /* flex-direction: column;   */
  flex-wrap: wrap;
  justify-content: center;
  background-color: #25155c;
  align-items: center;
  
}

.col {
  max-width: 400px;
  height: auto;
  margin: 15px;
}

.detailsTexto {
  font-size: 1.5rem;
}

.movieImage {
  border-radius: 10px;
}

/* @media (min-width: 768px) {
  .detailsContainer{
    flex-direction: row;
  }
} */
  
